# Dependencias
/node_modules

# Compilación
/dist

# Caché de Angular
/.angular

# Cobertura de pruebas
/coverage

# Visual Studio
.vs/
bin/
obj/

# User files
*.user
*.suo

# ASP.NET
wwwroot/

# Logs
*.log