<header class="cabecera">
<div class="marca">
  <a routerLink="/" class="marca-logo" aria-label="Ir a inicio">
    <img src="/assets/imagenes/logolibreria.jpg" alt="Logo Librería O-mar ECP" class="marca-icono" />
  </a>
  <h1>Librería <span class="dorado">O-mar ECP</span></h1>
</div>

  <nav class="nav">
    <a routerLink="/" routerLinkActive="activo" [routerLinkActiveOptions]="{ exact: true }">Inicio</a>
    <a routerLink="/productos" routerLinkActive="activo">Productos</a>
    <a routerLink="/contacto" routerLinkActive="activo">Contacto</a>
  </nav>
</header>
